
<div class="container-fluid" style="padding-left: 0px;padding-right: 0px;">
    <nav class="navbar navbar-default ">
        <div class="container-fluid" style="margin-bottom: -9px;padding-right: 0px;"  >
            <div style ="overflow: hidden; width: 100%; border-bottom: 1px solid #60b8f2;" class="row">
                <div class="col-2">
                    <div class = "navbar-header" >
                        <img src="../../assets/images/dsnl-logo1.png" style="margin-right: 23px; border-right:1px solid #3e3939; " >
                    </div>
                </div>
                <div class="col-7">
                    <div>
                        <ul class="nav navbar-nav" >
                            <li  style = "padding-top:24px; ">                                
                                <p class = "fontcss" style="text-align: left; margin-bottom:0px; margin-left: 0px;">Account Id: <span>{{userAccountId}}</span></p>
                                <p class = "fontcss" style="text-align: left;margin-top:0px; margin-left: 0px; ">Account Name: <span>{{userAccountName}}</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-3">
                    <div style="padding: 10px; position: absolute;right: 0;">
                        <ul class="nav  " >                                  
                            <div class="dropdown" >
                                <a style = "text-decoration: none;" href="#" class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"  type="button" aria-expanded="false" >
                                    <span class="inline-show "> <img src="assets/images/user.png" /> </span>
                                    <span class="inline-show" [title]="clientName"> Hi, {{clientName}} </span>
                                </a>
                                <ul  class="dropdown-menu " style="right:0px; left:auto" aria-labelledby="dropdownMenuButton1">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li> <a class="dropdown-item" (click)="callLogout()" title="Logout"> Logout </a> </li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav> 
    
</div>

