<div class="container-fluid bgcss ">
    <nav class="navbar navbar-light" >
            <a class="navcss" routerLink="/dashboard" style="margin-top: 12px;" [ngClass] = "{'active':dashboadMenu === true}">
                <img src="../../assets/images/home.png" width="30" height="30" class="d-inline-block align-top" alt="">
                Home
              </a>           
      </nav>
      <nav class="navbar">
        <a class="navcss" routerLink="/pastvoicedrop" [ngClass] = "{'active':pastvoicedropsMenu === true}">
            <img src="../../assets/images/pastvd.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Past Voice Drop
          </a>
      </nav>
      <!-- <nav class="navbar navbar-light clearfix">
        <a class="navbar-brand " routerLink="/header">
            Past Voice Drop
          </a>
      </nav> -->
</div>
