
<div class="container-fluid bgcss" style="padding-left: 0px; padding-right: 0px;">
    <div class = "row">
        <app-header></app-header>
    </div>
    <div class = "row bgcss" >
        <div class="col-sm-2">
            <app-leftmenu></app-leftmenu>
        </div>
        <div class = "col-sm-10">
            <div class = "row">
                <div class="col">
                    <h2 class="headingcss">  {{vdName}} - {{rrOfusers}} </h2>
                </div>
                <div class = "col" >
                    <div style="float:right; margin-top: 1vh;">
                        <audio controls autoplay *ngIf="audioURL">
                            <source [src]="audioURL" type="audio/wav">
                        </audio>
                        <!-- <button class="close-button" (click)="closeAudio()">&#10006;</button> -->
                    </div>
                </div>
            </div>
            <div class = "row fontcss"> 
                <div class="table-wrapper tablecss">
                    <div class="table-responsive">
                        <table id="myTable1" class="datatables" style="border-color: whitesmoke;">
                            <thead>
                                <tr>
                                <th>#</th>
                                <th>In/Out</th>
                                <th>User</th>
                                <th>Agent</th>
                                <th>Status</th>
                                <th>Call Started</th>  
                                <th>Call Ended</th>
                                <th>Duration</th>
                                <th>Action</th>                        
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of vduserDetails;let i = index">
                                    <td>{{i + 1}}</td>
                                    <td>                               
                                        <div *ngIf="item.calltype == 1; else dialIn">
                                            Out
                                        </div>
                                      
                                        <ng-template #dialIn>
                                            In
                                        </ng-template>
                                    </td>

                                    <td>{{item.phoneno}}</td>
                                    <td>{{item.connectedcustcarephone}}</td>
                                    <td>
                                        <div *ngIf='item.connectedcustcarephone == "" ; else connetedwithAgent'>
                                            Not Connected
                                        </div>
                                      
                                        <ng-template #connetedwithAgent>
                                            Connected
                                        </ng-template>
                                    </td>
                                    <td>{{item.callstartdatetime}}</td>
                                    <td>{{item.disconnectdatetime}}</td>
                                    <td>{{duration}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm">
                                                <!-- <a *ngIf = 'item.audioFileAvailability == "1"' class = "playiconcss" (click) = "playAudioFile(item)"></a> -->
                                                <a *ngIf = 'item.connectedcustcarephone != ""' class = "playiconcss" (click) = "playAudioFile(item)"></a>

                                            </div>
                                            
                                            <!-- <div class="col-sm">
                                                <a *ngIf = 'item.connectedcustcarephone != ""' class = "downloadiconcss" (click) = "downloadAudioFile(item)"></a>
                                            </div> -->
                                        </div>
                                        
                                    </td>
                                  </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> 
    </div>      
</div>


